
.opacity{
    opacity:0.5;
    background-color: black;
}

.opacity:hover{
    animation: changeOpacity 0.5s;
    -webkit-animation: changeOpacity 0.5s; /* Safari 与 Chrome */
    opacity:0.9;
    background-color: black;
}

/* 动画效果 */
@keyframes changeOpacity
{
    from {
        opacity:0.5;
        background-color: black;
    }
    to {
        opacity:0.9;
        background-color: black;
    }
}
@-webkit-keyframes changeOpacity
{
    from {
        opacity:0.5;
        background-color: black;
    }
    to {
        opacity:0.9;
        background-color: black;
    }
}


/* 翻转动画 */
.rollingOverAnimation
{
    animation: rollingOver 5s;
    -webkit-animation: rollingOver 5s; /* Safari 与 Chrome */
}

.img-onmouse:hover{
    animation: rollingOver 5s;
    -webkit-animation: rollingOver 5s; /* Safari 与 Chrome */
}


@keyframes rollingOver
{
    from {
        transform: rotateY(0deg);
        -webkit-transform: rotateY(0deg); /* Safari 与 Chrome */
    }
    to {
        transform: rotateY(360deg);
        -webkit-transform: rotateY(360deg); /* Safari 与 Chrome */
    }
}

@-webkit-keyframes rollingOver /* Safari 与 Chrome */
{
    from {
        transform: rotateY(0deg);
        -webkit-transform: rotateY(0deg); /* Safari 与 Chrome */
    }
    to {
        transform: rotateY(360deg);
        -webkit-transform: rotateY(360deg); /* Safari 与 Chrome */
    }
}